

<div class="container-fluid">

  <div class="row">
    <div class="topnav">
      <a class="active" href="#home"><b>Srilankan NewsLookUP</b></a>
      <div class="search-container">
        <form>
          <input type="text" placeholder="Search.." name="search"  [(ngModel)]="inputValue" >
          <button type="submit" (click)="onChanged()">Search</button>
        </form>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-sm-8">
    <ul>
      <li *ngFor="let user of newsData">
        {{ user.id }}  <br>
        <h3> {{ user.heading }} <br> </h3>
        <img src="{{ user.image }}" alt="Italian Trulli">     <br>
        {{ user.content }}  <br>
        <a href="{{ user.link }}">Link</a>    <br><br><br>

      </li>
    </ul>
  </div>


  <div class="col-sm-4">.col-sm-4</div>

</div>


</div>
